.menu {
    display: flex;
    justify-content: center;
}

.menu--child {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;//baisser la largeur en fonction de l'écran
    gap: 10px; 
    padding: 25px;
    padding-right: 50px;
    background-color:$color-gray;//temporaire
    margin-bottom: 5px;
    border-radius: 30px;
    box-shadow: 1px 3px 4px $color-darkgrey;
}

.menu--child--child {
    border-radius: 50%;
    background-color: $color-primary;
    padding:7px;
    margin-left: -32px;
    color: white;
}

.menu--child--text {
    padding-left: 10px;
    font-size: 1.2em;
}

.menu--child:hover {
    background-color: $color-purple;
    i {
        color: $color-primary;
    }
} 

@media(max-width:810px){
    .menu{
        flex-direction: column;
        padding-left: 15px;
    }
    .menu--child {
        width: 88%;
        margin-bottom:20px ;
        margin-right: 10px;
    }
}

@media(max-width:680px){
    .menu--child {
        width: 75%;
    }
}