.reservation {
    text-align: center;
}

.info {
    background-color: #F2F2F2;
    padding:30px;

}

.info h1 {
    font-size:25px;
}

.info button{
    font-size: 0.9em;
    padding: 15px;
    color: white;
    border-radius: 25px;
    border: none;
    background: linear-gradient(to bottom right, $color-secondary 0%, $color-primary 100%);
    box-shadow: 1px 3px 4px $color-darkgrey;
}