@use"../utils/mixin.scss" as mix;

.reservation {
    text-align: center;
}

.info {
    background-color: #F2F2F2;
    padding:30px;

    & h2 {
        font-size:25px;
    }
    & button {
        @include mix.button;
    }
    & button:hover {
        @include mix.zoom;
        animation-name:itemzoom;
        animation-duration: 300ms;
        animation-fill-mode: forwards;
    }
}

@media(max-width:700px){
    .info button{
        font-size: 1em;
    }
}