.restaurant {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: $color-gray;
}

.restaurant--img {
    position: relative;
    border: 1px solid grey;
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 1px 3px 4px $color-darkgrey;
}

.restaurant--img img {
    width:  680px;
    height: 375px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.restaurant--title{
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    margin-bottom: 10px;
}
.restaurant--title--child h2{
    font-size: 1em;
    margin-bottom: 3px;
}

.restaurant--title--child span {
    padding-top:3px;
}

.restaurant--title--logo {
    font-size: 1.5em;
    padding-right: 15px;
    padding-top:15px;
}

.restaurant--title--logo a{
    position: absolute;//refaire avec positon absolue -top27px
        bottom: 0.75em;
    color: $color-primary;
    opacity: 0;
    //ajouter l'animation et refaire le margin
}

.restaurant--title--logo a:hover{
    opacity:1;
}

@media(max-width:798px){
    .restaurant--img img {
        width: 375px;
        height: 187.5px;
    }
}