@use"../utils/variables.scss" as var;
@use"../utils/animation.scss" as anim;

.restaurant {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var.$color-gray;
}

.restaurant--img {
    position: relative;
    border: 1px solid grey;
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 1px 3px 4px var.$color-darkgrey;
    &:nth-child(-n+2):after {
        content :"Nouveau";
        background-color: var.$color-tertiary;
        color: #466d63;
        padding: 10px;
        border-radius: 5px;
        position: absolute;
            right:1rem;
            top:1.5rem;
        @media(max-width:800px) {
            font-size: 0.8em;
        }
    }
}

.restaurant--img img {
    width:  680px;
    height: 375px;
    object-fit: cover;
    object-position: center bottom;
    border-radius: 20px 20px 0 0;
}

.restaurant--title{
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    margin-bottom: -10px;
}
.restaurant--title--child h2{
    font-size: 1em;
    margin-bottom: 3px;
}

.restaurant--title--child span {
    padding-top:3px;
}

.restaurant--title--logo {
    font-size: 1.5em;
    padding-right: 15px;
    padding-top:15px;
}

  
.restaurant--title--logo a {
    position: relative;//refaire avec positon absolue -top27px
        bottom: 29px;
        right: 1px;
    opacity: 0;
    font-size: 1.1em;
    //ajouter l'animation et refaire le margin
    & i {
        background: -webkit-linear-gradient(var.$color-primary, var.$color-secondary);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.restaurant--title--logo a:hover{
    @include anim.heart;
    animation-name: itemheart;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
}

@media(max-width:798px){
    .restaurant--img img {
        width: 375px;
        height: 187.5px;
    }
}