@use "../utils/animation.scss" as anim;
@use "../utils/mixin" as mix;
@use "../utils/variables" as var;


.header {
    position: relative;
& a{
    position: absolute;
        left: 5px;
        top:10px;
    }
    @media (max-width:800px){
        a {
            position: absolute;
                left: 5px;
                top: 0px;
        }
    }
}

.banner img{
    width: 100%;
    height: 600px;
    object-fit: cover;
    object-position: center bottom;
    @media (max-width:1000px){
        height:250px;
    }
}

//main

.liste {
    display: flex;
    justify-content: space-between;
    background-color: var.$color-gray;//temporaire
    position: relative;
    top:-110px;
    //z-index: 3;
    border-radius: 30px 30px 0px 0px;  
    & h1 {
        font-family: 'Moon Dance', cursive;
        margin: 40px;
        margin-left: 60px;
        font-size: 2.5rem;
        @media(max-width:1000px) {
            font-size: 1.8em;
        }
    }
    
    & div i {
        margin-top: 70px;
        margin-right: 70px;
        @media(max-width: 1000px){
            margin-top:65px;
            margin-right:40px;
        }
    }
    
    & a {
        position: absolute;//refaire avec positon absolue 
            top:4em;
            right:4.41em;
        color: var.$color-primary;
        opacity: 0;
        @media(max-width:1000px){
            top:3.7em;
            right:2.5em;
        }
    }
    
    & a:hover {
        @include anim.heart;
        animation-name: itemheart;
        animation-duration: 300ms;
        animation-fill-mode: forwards;
    }
    
}

.menu-grid{
    display : grid;
    grid-template-columns: repeat(3,1fr);
    gap : 1rem;
    padding : 0 2rem;

    @media (max-width:1000px) {
        grid-template-columns: repeat(1,1fr);
        
    }

    &__category{
        background-color: white;
        overflow: hidden;


        h3{
            text-transform: uppercase;
            font-weight: 400;
            position : relative;
            &::after{
                content :"";
                background-color: var.$color-tertiary;
                height:0.25rem;
                width:1.8rem;
                display: inline-block;
                position: absolute;
                left:0rem;
                top:1.5rem;
            }
        }

    }

    &__item{
        border-radius: 1rem;
        overflow: hidden;
        margin : 1.5rem;
        padding-top:2px ;

        display: flex;
        $numberOfItems : 3;
        @for $i from 1 through $numberOfItems{
            &:nth-child(#{$i}){
                animation-delay: 100ms * $i;
            }
        }
        @include mix.base-shadow ;
        @include anim.appear;
        animation: itemappear 2s;
        animation-fill-mode: both;
        overflow: hidden;

        &_price{
            margin-left: auto;
            font-weight: 900;
            padding :1rem;
            display: flex;
            align-items: flex-end;

        }

        &_check{
            $button-width :5rem;
            background-color: var.$color-tertiary;
            margin-right:-1 * $button-width;
            width:$button-width;
            margin-top:-2px;
            margin-bottom:0px;
            //width:$button-width;
            border-radius: 0 1rem 1rem 0;
            transition : margin-right 1s;
            display :grid;
            place-items: center;
            flex-shrink: 0;

            i{
                display :grid;
                place-items: center;
                aspect-ratio: 1;
                border-radius: 50%;
                background-color: white;
                width:2rem;
                color:var.$color-tertiary;
                padding: 5px;

            }
        }

        &_description{
            padding :1rem;
            padding-top: 0rem;
            padding-bottom:0rem ;
            overflow: hidden;
            
            h4,p{
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;

            }
        }

        &:hover{
            .menu-grid__item_check{
                margin-right:0;
            }
            i{
                @include anim.quater-check;
                animation : quatercheck 0.5s ease-in-out;
            }
        } 

    }
}


.commande{
    text-align: center;
    & button {
        margin-bottom: 20px;
        @include mix.button;
        padding-left:50px;
        padding-right:50px;
    }
    & button:hover{
        @include mix.zoom;
    } 
    
    @media(max-width:700px){
        button {
            font-size: 1em;
        }
    }
}